{% load static %}
{% for enroll in user_courses_enrollment %}

<!-- courses item start -->
<div class="col-md-6 col-lg-3">
    <div class="courses-item">
        {% with enroll.last_video_watched.id|default:enroll.course.lessons.first.videos.first.id as video_id %}
        <a href="{% url 'lesson-video-detail' course_id=enroll.course.id video_id=video_id %}" class="link">

            {% endwith %}
            <div class="courses-item-inner">
                <div class="img-box">
                    {% with enroll.course.thumbnail_url|default:enroll.course.thumbnail.url as thumbnail_url %}
                    <img src="{{ thumbnail_url }}" alt="course img">
                    {% endwith %}

                </div>
                <h3 class="title">{{ enroll.course.title }}</h3>
                <div class="instructor">
                    <img src="{% static 'img/instructor/1.png' %}" alt="instructor img">
                    <span class="instuctor-name">{{ enroll.course.author.name }}</span>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- courses item end -->
{% endfor %}