{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title> Tollgator </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" class="js-color-style" href="{% static 'css/colors/color-1.css' %}">
</head>
<body>

<!-- main wrapper start -->
<div class="main-wrapper">

  <!-- header start -->
    <header class="header">
      <div class="container">
        <div class="header-main d-flex justify-content-between align-items-center">
          <div class="header-logo">
            <a href="{% url 'new' %}"><span>Toll</span>gator</a>
          </div>
          <button type="button" class="header-hamburger-btn js-header-menu-toggler"><span></span></button>
          <div class="header-backdrop js-header-backdrop"></div>
          <nav class="header-menu js-header-menu">
            <button type="button" class="header-close-btn js-header-menu-toggler">
              <i class="fas fa-times"></i>
            </button>
            <ul class="menu">
              <li class="menu-item"><a href="{% url 'new' %}">Home</a></li>
              <li class="menu-item menu-item-has-children"><a href="#" class="js-toggle-sub-menu">Courses
                <i class="fas fa-chevron-down"></i></a>
                <ul class="sub-menu js-sub-menu">
                  <li class="sub-menu-item"><a href="{% url 'new' %}">Courses</a></li>
                  <li class="sub-menu-item"><a href="{% url 'new' %}">Course-detail</a></li>
                </ul>
              </li>
              <li class="menu-item"><a href="#">Pages</a></li>
              <li class="menu-item"><a href="{% url 'new' %}">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  <!-- header end -->
</div>
<!-- main wrapper end -->


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>  
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>