{% load static %}

<!DOCTYPE html>
<html>
<head>

	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/
    font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'courses/main.css' %}">

	{% if title %}
		<title>Tollgator - {{title}}</title>
	{% else %}
		<title>Tollgator</title>
	{% endif %}
	
</head>
<body>
	<header class="site-header">
	  <nav>
	    <div class="header" id="myTopnav">
	      <a class="logo" href="{% url 'courses-home' %}">Tollgator</a>
	      <div class="" id="navbarToggle">
	        <div>
	          <a class="title" href="{% url 'courses-home' %}">Home</a>
	          <a class="" href="{% url 'courses-about' %}">About</a>

	        </div>
	        <!-- Navbar Right Side -->
	        <div class="" style="float: right;" >
	        	{% if user.is_authenticated %}
		          <a class="" href="{% url 'logout' %}">Logout</a>
		          <a class="" href="{% url 'order-summary' %}">Cart</a>
		          <a class="" href="{% url 'profile' %}">Profile</a>
	        	{% else %}
		          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
		          <a class="nav-item nav-link" href="{% url 'instructor-register' %}">Instructor</a>
		          <a class="nav-item nav-link" href="{% url 'student-register' %}">Student</a>
		        {% endif %}

	        </div>
	      </div>
	    </div>
	  </nav>
	</header> 
	<main role="main" class="container">
		<div class="row">
			<div class="col-md-8">
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-{{ message.tags }}">
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
				<br>
	  			{% block content %}{% endblock %}
				
			</div>
		</div>
	</main>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>