{% extends "small_base.html" %}
{% block content %}
<div class="container">
	<div class="row">

		<main class="col">

			<div class="row justify-content-end">
				<div class="col-sm-3 mb-3">
					<div class="card bg-info">
						<div class="card-body">
							<h5 class="card-title">Total Revenue</h5>
							<p class="card-text">${{ total_revenue|floatformat:"-2g" }}</p>
							<!-- <strong><small class="text-success">$300</small> this month</strong> -->
						</div>
					</div>
				</div>
				<div class="col-sm-3 mb-3">
					<div class="card bg-success">
						<div class="card-body">
							<h5 class="card-title">Total Enrollment</h5>
							<p class="card-text">{{total_enrollment}}</p>
							<!-- <strong><small class="text-bg-dark">100</small> this month</strong> -->
						</div>
					</div>
				</div>
				<div class="col-sm-3 mb-3">
					<div class="card bg-danger">
						<div class="card-body">
							<h5 class="card-title">Instructor Rating</h5>
							<div class="rating mb-2">
								<span class="average-rating">({{avg_rating}})</span>
								<span class="average-stars">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star-half-alt"></i>
								</span>
								<span class="reviews">(Reviews)</span>
							</div>
							<!-- <strong><small class="text-bg-dark">100</small> this month</strong> -->
						</div>
					</div>
				</div>

				<h2 class="pt-3 pb-2 mb-3 border-bottom">Your Courses - ({{ courses.paginator.count }})</h2>
				<div class="container">
					<!-- course header start -->
					{% for course in courses %}

					<div class="course-header box mb-4">
						<a href="{% url 'course-update' course.pk %}">
							<h2 class="text-capitalize">{{ course.title }}</h2>
						</a>
						<div class="rating">
							<span class="average-rating">({{ course.get_average_rating }})</span>
							<span class="average-stars">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
							</span>
							<span class="reviews">({{ course.get_rating_count }} Reviews)</span>
						</div>
						<ul>
							<li>enrolled students - <span>{{course.get_enrollment_count}}</span></li>
							<li>Total revenue - <span class="badge bg-success">
									${{ course.get_total_revenue|floatformat:"-2g" }}</span>
							</li>
							<li>last updated - <span>{{ course.updated_at | date:'F d, Y' }}</span></li>
						</ul>
					</div>

					<!-- course header end -->
					{% endfor %}
				</div>


				<nav aria-label="Page navigation">
					<ul class="pagination justify-content-center mb-4">
						{% if courses.has_previous %}
						<li class="page-item"><a class="page-link " href="?page=1">First</a></li>
						<li class="page-item"><a class="page-link "
								href="?page={{ courses.Previous_page_number }}">Previous</a></li>
						{% endif %}

						{% for num in courses.paginator.page_range %}
						{% if courses.number == num %}
						<li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
						{% elif num > courses.number|add:'-3' and num < courses.number|add:'3' %} <li class="page-item">
							<a class="page-link " href="?page={{ num }}">{{ num }}</a></li>
							{% endif %}
							{% endfor %}

							{% if courses.has_next %}
							<li class="page-item"><a class="page-link "
									href="?page={{ courses.next_page_number }}">Next</a></li>
							<li class="page-item"><a class="page-link "
									href="?page={{ courses.paginator.num_pages }}">Last</a></li>
							{% endif %}
					</ul>
				</nav>
		</main>
	</div>
</div>


{% endblock content %}