<div hx-get="/check_task_status/" hx-target="#status" hx-swap="outerHTML" hx-periodic="5000">
    <div id="status">
        {% if task_status %}
        {% if task_status == "Task completed" %}
        <p>Task completed!</p>
        {% else %}
        <div hx-trigger="load" hx-target="#cow" class="text-light spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        {% endif %}
        {% else %}
        <p hx-post="{% url 'course-create-playlist' %}" hx-trigger="load" hx-target="#cow">There is no task status</p>
        {% endif %}
    </div>
    <!-- the stuff here is not corrrect but i have to go now -->
</div>