<div id="lesson-{{ lesson.id }}" class="">
        <h2>{{ lesson.title }}</h2>
        <div class="card-body">
            {% if lesson.description %}
                <p>{{ lesson.description }}</p>
            {% else %}
                <p>No description for this lesson</p>
            {% endif %}
        </div>
        <button hx-get="{% url 'lesson-detail' course_id=lesson.course.id lesson_id=lesson.id %}"
                hx-target="#lesson-{{ lesson.id }}"
                hx-trigger="click">
            Edit</button>
</div>
