{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load duration %}
{% block content %}
<!-- <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
<section class="py-4 py-lg-6 bg-danger">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-10 col-md-12 col-12">
				<div class="d-lg-flex align-items-center justify-content-between">
					<div class="mb-4 mb-lg-0">
						<h2 class="text-white mb-1">Edit Course</h2>
						<p class="mb-0 text-white lead">
							Just fill the form and create your course.
						</p>
					</div>
					<div class="">
						<a href="" class="btn">Submit</a>
						<a href="" class="btn">Go back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-10 col-md-12 col-12">
				<div class="card border rounded-3 mb-5">
					<div class="card-header bg-light border-bottom px-lg-5">
						<div class="d-flex align-items-center justify-content-between">
							<div class=""><button class="btn btn-theme rounded"><span class="">1</span></button>
								<h6>Course description</h6>
							</div>
							<div class=""><button class="btn btn-theme rounded"><span class="">2</span></button>
								<h6>Course media</h6>
							</div>
							<div class=""><button class="btn btn-theme rounded"><span class="">3</span></button>
								<h6>Course curriculum</h6>
							</div>
							<div class=""><button class="btn btn-theme rounded"><span class="">4</span></button>
								<h6>settings</h6>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="mb-3">
							<label for="formGroupExampleInput" class="form-label">Course Title</label>
							<input type="text" class="form-control" id="formGroupExampleInput"
								placeholder="Course Title">
						</div>
						<div class="mb-3">
							<label for="formGroupExampleInput2" class="form-label">Course Price</label>
							<div class="input-group">
								<span class="input-group-text">$</span>
								<input type="number" class="form-control" id="formGroupExampleInput2"
									placeholder="Course Price">
							</div>
						</div>
						<div class="mb-3">
							<label for="formGroupExampleInput" class="form-label">Short description</label>
							<textarea class="form-control" aria-label="With textarea"></textarea>
						</div>
						<div class="mb-3">
							<input type="file" class="form-control" id="inputGroupFile01">
						</div>
						<div class="container mt-5">
							<h1>Quill Editor in Bootstrap</h1>
							<div class="form-group">
								<label for="editor">Enter text here:</label>
								<textarea class="form-control" id="editor"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section> -->
<div class="container">
	<div class=''>
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class='form-group'>
				<legend class='mb-4'>Course Overview</legend>

				{{ form.as_p }}

			</fieldset>
			<div class=''>
				<button class='btn btn-outline-secondary' type="submit">Submit</button>
			</div>
		</form>
		<div class='form-group'>
			<a href="{% url 'course-delete' course.pk %}">Delete Course</a>
		</div>
	</div>
	<a href="{% url 'lesson-detail' course.id %}" class="btn btn-theme">Edit Lessons</a>
	<!-- course curriculum start -->
	<div class="tab-pane fade show active" id="course-curriculum" role="tabpanel"
		aria-labelledby="course-curriculum-tab">
		<div class="course-curriculum box">
			<h3 class="text-capitalize mb-4">course curriculum</h3>
			<!-- accordion start -->
			<div class="accordion" id="accordion">
				<!-- accordion item start -->
				{% for lesson in course.lessons %}
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading-1">
						<button class="accordion-button" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapse-{{ lesson.pk }}" aria-expanded="true"
							aria-controls="collapse-{{ lesson.pk }}">
							{{ lesson.title }}
							<span>
								{{ lesson.videos.count }} videos | {{ lesson.total_video_seconds|hour_minute }}
							</span>
						</button>
					</h2>
					<div id="collapse-{{ lesson.pk }}" class="accordion-collapse collapse" aria-labelledby="heading-1"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<ul>
								{% for video in lesson.videos %}
								<li>
									<i class="fas fa-play-circle"></i>
									{{ video }}
									<span>{{ video.duration_time|hour_minute_second }}</span>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endfor %}
				<!-- accordion item end -->

			</div>
			<!-- accordion end -->
		</div>
	</div>
	<!-- course curriculum end -->
</div>
{% endblock content %}