{% extends "courses/base.html" %}
{% block content %}

	<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ object.author }}">
	  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="">{{ object.author }}</a>
		      <small class="text-muted">{{ object.date_posted | date:'F d, Y' }}</small>
		      {% if object.free == True %}
		      	<a class="button" href="" >Enroll</a>
		      {% else %}
		      	<a class="button" href="" >ADD TO CART</a>
		      {% endif %}
		      
		      	

		      <p>₦{{object.price}}</p>
		      {% if object.author == user %}

		      	<div>
		      		<a class="btn info btn-sm mt-1 mb-1" href="">Add Lesson</a>
		      		<a class="btn info btn-sm mt-1 mb-1" href="">Update</a>
		      		<a class="btn danger btn-sm mt-1 mb-1" href="">Delete</a>
					   <!-- url 'lesson-create' object.id 	
					   url 'post-update' object.id 
					   url 'post-delete' object.id  -->
		      	</div>
		      {% endif %}
		    </div>
		    <br>
		    <br>
		    <h2 class="article-title" >{{ object.title }}</h2>
		    <p class="article-content">{{ object.content }}</p>
			{{object}}
			<ol>
			    {% for lesson in object.lessons %}
						<li><a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a></li>
				{% endfor %}
			</ol>
	<!-- 	<div>
			    <video width="320" height="240" controls >
				<source src="{{ object.video.url }}" type="video/mp4">
				</video>
		    </div> -->
	  </div>
	</article> 

{% endblock content %}