{% extends "courses/base.html" %}
{% block content %}

	<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ course.author }}">
	  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="">{{ course.author }}</a>
		      <small class="text-muted">{{ course.date_posted | date:'F d, Y' }}</small>
		      {% if course.course_type == "Free" %}
		      	<a class="button" href="" >Enroll</a>
		      {% else %}
		      	<a class="button" href="" >ADD TO CART</a>
		      {% endif %}
		      
		      	

		      <p>₦{{course.price}}</p>
		      {% if course.author == user %}
		      	<div>
		      		<a class="btn info btn-sm mt-1 mb-1" href="">Add Lesson</a>
		      		<a class="btn info btn-sm mt-1 mb-1" href="">Update</a>
		      		<a class="btn danger btn-sm mt-1 mb-1" href="">Delete</a>
		      	</div>
		      {% endif %}
		    </div>
		    <br>
		    <br>
		    <h2 class="article-title" >{{ course.title }}</h2>
		    <p class="article-content">{{ course.content }}</p>
			{{course}}
			<ol>
			    {% for lesson in lessons %}
						<li><a href="{% url 'lesson-list' course_slug=course.slug lesson_slug=lesson.pk %}">{{ lesson.title }}</a></li>
						{% for video_lesson in lesson.get_videos %}
						<p>{{ video_lesson }}</p>
						{% endfor %}
				{% endfor %}
			</ol>
		    </div>
	  </div>
	</article> 

{% endblock content %}