{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load duration %}
{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
	<section class="py-4 py-lg-6 bg-danger">
		<div class="container">
			<div class="row">
				<div class="offset-lg-1 col-lg-10 col-md-12 col-12">
					<div class="d-lg-flex align-items-center justify-content-between">
						<div class="mb-4 mb-lg-0">
							<h2 class="text-white mb-1">Edit Course</h2>
							<p class="mb-0 text-white lead">
								Just fill the form and create your course.
							</p>
						</div>
						<div class="">
							<button class='btn btn-success' type="submit">Save</button>
							<a href="{% url 'instructor-dashboard' %}" class="btn btn-outline-secondary">Go back</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		{% csrf_token %}
		<div class="row">
			<div class="offset-lg-1 col-lg-10 col-md-12 col-12">
				<div class="card border rounded-3 mb-5">
					<div class="card-header bg-light border-bottom px-lg-5">
						<div class="d-flex align-items-center justify-content-between">
							<!-- <div class=""><button class="btn btn-theme rounded"><span class="">1</span></button>
								<h6>Course description</h6>
							</div>

							<div class=""><button class="btn btn-theme rounded"><span class="">2</span></button>
								<h6>Course media</h6>
							</div>
							<div class=""><button class="btn btn-theme rounded"><span class="">3</span></button>
								<h6>Course curriculum</h6>
							</div>
							<div class=""><button class="btn btn-theme rounded"><span class="">4</span></button>
								<h6>settings</h6>
							</div> -->
						</div>
					</div>
					<div class="card-body">
						{{ form.media }}
						{{ form|crispy }}

					</div>
				</div>
			</div>
</form>
</div>


{% endblock content %}