{% extends "courses/base.html" %}
{% block content %}

	<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ course.author }}">
	  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="">{{ course.author }}</a>
		      <small class="text-muted">{{ course.date_posted | date:'F d, Y' }}</small>

		      {% if course.pricing.name == "Free" %}
				{% if order.user == request.user %}
					<a class="btn btn-warning" href="{% url 'lesson-list' course_slug=course.slug %}" >Go to course</a><p>You have already enrolled for this course</p>
				{% else %}
					<a class="button" href="{% url 'enroll' course_slug=course.slug %}" >Enroll</a>
				{% endif %}
		      {% else %}
		      	<a class="button" href="" >ADD TO CART</a>
		      {% endif %}
		      
		      {% if course.author == user %}
		      	<div>
		      		<a class="btn info btn-sm mt-1 mb-1" href="{% url 'lesson-create' course_id=course.id %}">Add Lesson</a>
		      		<a class="btn info btn-sm mt-1 mb-1" href="">Update</a>
		      		<a class="btn danger btn-sm mt-1 mb-1" href="">Delete</a>
		      	</div>
		      {% endif %}
		    </div>
		    <br>
		    <br>
		    <h2 class="article-title" >{{ course.title }}</h2>
		    <p class="article-content">{{ course.content }}</p>
			<ol>
			    {% for lesson in course.lessons %}
						<li><a href="{% url 'lesson-list' course_slug=course.slug %}">{{ lesson.title }}</a></li>
						{% for video_lesson in lesson.videos %}
						<p>{{ video_lesson }}</p>
						{% endfor %}
				{% endfor %}
			</ol>
		    </div>
	  </div>
	</article> 

{% endblock content %}