{% extends "courses/base.html" %}
{% block content %}

	{% for post in posts %}

	<div class="row">
	  <div class="column">
	    <div class="card"><a href="{% url 'post-detail' pk=post.pk course_slug=post.slug %}" >
			<p>{{ post.id }}</p>
			<p>{{ post.pkid }}</p>
			<p>{{ post.slug }}</p>
			<p>{{ post.sluger }}</p>

	      <img src="{{ post.thumbnail.url }}" alt="img" style="width:100%">
	      <div class="container">
	        <h2><a class="article-title" href="{% url 'post-detail' pk=post.pk course_slug=post.slug %}" >{{ post.title }}</a></h2>
	        <a class="mr-2" href="">{{ post.author }}</a>
	        <p class="article-content">{{ post.content }}</p>
	        <p>₦{{post.price}}</p>
	      </div>
	    </a></div>
	  </div>
	</div>

	{% endfor %}













	
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class= "btn btn-outline-info mb-4 " href="?page=1">First</a>
			<a class= "btn btn-outline-info mb-4 " href="?page={{ page_obj.Previous_page_number }}">Previous</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number  == num %}
				<a class= "btn btn-info mb-4 " href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'  %}
				<a class= "btn btn-outline-info mb-4 " href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a class= "btn btn-outline-info mb-4 " href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class= "btn btn-outline-info mb-4 " href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}
	{% endif %}
	<br>
	
{% endblock content %}
