{% extends 'courses/base.html' %}


{% block content %}
	
	<div  class="card">
		<h1>lesson detail</h1>
		<div id="lesson-details">
			{% include 'courses/partials/lesson_update.html' %}
		</div>
			<ol>
				{% for video in lesson.videos %}
					{% include 'courses/partials/video_list.html' %}
				{% endfor %}
			</ol>
		<div id="video-new" class="">
		</div>
		<button hx-get="{% url 'video-create' lesson_id=lesson.id %}"
			hx-target="#video-new"
			hx-trigger="click">
			New</button>
		

	</div>
{% endblock content %}
