{% extends 'courses/base.html' %}

{% block content %}
<h2 class="card-title">{{ lessons.first.get_course }}</h2>
{% for lesson in lessons %}
<div >
    <div class="card card-body">
        <h2 class="card-title"><a href="{% url 'lesson-detail' course_id=lesson.course.id lesson_id=lesson.id %}">{{lesson.title}}</a></h2>
    
        <ol>
            {% for video in lesson.videos %}
            <li> <a href="{{ video.get_absolute_url }}">{{ video.title }}</a></li>
            {% endfor %}
        </ol>


    </div>
  </div>
{% endfor %}
{% endblock content %}