{% extends 'courses/base.html' %}

{% block content %}
<div class="" style="position: relative; display: flex;">
    <div id="video-frame">
        {% include 'courses/partials/video_frame.html' %}
    </div>
    <div class="card card-body" style="    width: 25rem; margin: 0px 55em; position: fixed;">
        <h5 class="card-title">{{lesson.title}}</h5>
        <ul>
            {% for video in video_queryset %}
            <li class="list-group-item"><a href="{{ video.get_absolute_url }}"
                hx-get="{% url 'video-url' video.id %}"
                hx-target="#video-frame">{{video}}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}