{% extends "courses/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

	<div class= ''>
		<h2>{{ course.title }}</h2>

		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class='form-group'>
				<legend class= 'boarder-bottom mb=4'>Lesson Post</legend>
				
				{{ lesson_form|crispy }}

			</fieldset>
			
			<div class='form-group'>
				<button hx-post="{% url 'lesson-create' course.id %}" hx-target="#resource-list" class= 'btn- btn-outline-info' type="submit">Post</button>
			</div>
		</form>	
		<hr>
	</div>

{% endblock content %}