{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="playlist-form-box py-4">

        <form action="" method="POST" class="playlist-form">
            {% csrf_token %}
            <fieldset class='form-group'>
                <p class='mb-4'>Create course faster with just a Youtube Playlist</p>
                <h2>Enter the youtube playlist link below </h2>
            </fieldset>
            <div class="d-grid">
                <input type="text" name="playlist_id" placeholder="eg PL5B692fm6--uQRRDTPsJDp4o0xbzkoyf8">

                <button type="submit" class="btn btn-theme">
                    OK |<i class="fa fa-check" aria-hidden="true"></i>
                </button>

            </div>
            <p></p>
            {% if task_id %}
            <div id="status" hx-get="{% url 'get-task-status' task_id width|default:0 %}" hx-trigger="load"
                hx-target="#status" hx-swap="outerHTML">
            </div>
            {% endif %}
        </form>
    </div>
</div>


<!-- <div hx-target="this" hx-swap="outerHTML">
    <h3>Start Progress</h3>
    <button class="btn" hx-post="/start">
        Start Job
    </button>
</div>

{% if 1 == 8 %}
<div hx-target="this" hx-get="/job" hx-trigger="load delay:600ms" hx-swap="outerHTML">
    <h3>Running</h3>
    <div class="progress">
        <div id="pb" class="progress-bar" style="width:0%">
        </div>
    </div>

    <div hx-target="this" hx-get="/job" hx-trigger="none" hx-swap="outerHTML">
        <h3>Complete</h3>
        <div class="progress">
            <div id="pb" class="progress-bar" style="width:100%">
            </div>
        </div>
        <button id="restart-btn" class="btn" hx-post="/start" classes="add show:600ms">
            Restart Job
        </button>
    </div>
</div>
{% endif %} -->
{% endblock content %}