{% extends "small_base.html" %}
{% block content %}
{% for order in orders %}

<!-- courses item start -->
<div class="course-header box mb-4 d-flex">
    <a href="">
        <h2 class="text-capitalize"></h2>
    </a>
    <div class="rating">
        <span class="average-rating">()</span>
        <span class="average-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </span>
        <span class="reviews">(Reviews)</span>
    </div>
    <ul>
        <li>enrolled students - <span>220</span></li>
        <li>Total revenue - <span class="badge bg-success"> $</span>
        </li>
        <li>last updated - <span></span></li>
    </ul>
</div>
<!-- courses item end -->
{% endfor %}

{% endblock content %}